input {
  height: 20px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-bottom: 20px;
}

input::placeholder {
  text-align: center;
  color: grey;
}

.error {
  color: red;
  font-size: 0.7rem;
  position: absolute;
  bottom: 5px;
}

.double-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.double-wrapper.input-number-range {
  flex-direction: row;
}

.error.input-number-range {
  bottom: -15px;
}

.input-number-range{
  margin: 0 10px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


