<div class="input-wrapper">
  <input
    #input
    *ngIf="!isDouble"
    [class]="className"
    [appPlaceholder]="inputType"
    [required]="!!isRequired"
    [(ngModel)]="currValues[0]"
    (keyup)="onKeyUp($event)"
  />

  <div *ngIf="isDouble" class="double-wrapper {{ className }}">
    <input
      #input
      class="input-first {{className}}"
      [appPlaceholder]="inputType"
      [required]="!!isRequired"
      [(ngModel)]="currValues[0]"
      (keyup)="onKeyUp($event)"
    />
    <input
      #inputSecond
      class="input-second {{className}}"
      [isSecond]="true"
      [appPlaceholder]="inputType"
      [required]="!!isRequired"
      [(ngModel)]="currValues[1]"
      (keyup)="onKeyUp($event)"
    />
  </div>

  <strong class="error {{ className }}"> {{ error }}</strong>
</div>
