<div class="input-wrapper" [ngSwitch]="inputStructure">
  <input
    #input
    *ngSwitchCase="'single'"
    type="text"
    [class]="className"
    [placeholder]="placeholder"
    [required]="!!isRequired"
    [(ngModel)]="inputValue"
    (keyup)="onKeyUp($event)"
  />

  <div *ngSwitchCase="'double'" class="double-wrapper {{ className }}">
    <input
      #inputFirst
      type="text"
      [class]="className"
      [placeholder]="placeholderFirst"
      [required]="!!isRequired"
      [(ngModel)]="inputFirstValue"
      (keyup)="onKeyUp($event)"
    />
    <input
      #inputSecond
      type="text"
      [class]="className"
      [placeholder]="placeholderSecond"
      [required]="!!isRequired"
      [(ngModel)]="inputSecondValue"
      (keyup)="onKeyUp($event)"
    />
  </div>

  <strong class="error {{ className }}"> {{ error }}</strong>
</div>
